body{
    background-image: url(/images/pexels-기승-ki-19329504.png);
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.linkedin{
    display:grid; 
    border-radius:10% ; 
    background-color:#0077b5; 
    width:4rem; 
    height: 4rem;
}
.intext{
    margin-left: 25% ; 
    margin-top: 5% ; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
    font-size: 300%; 
    color: white;
}
.loader{
    display:flex; 
    background-color:#ff0000; 
    width:4rem; 
    height: 4rem;
    border-radius: 100%;
    position: fixed;
    top: 45%;
    left: 48%;
    align-items:center;
    justify-content:center;
    background-color: #fff;
    z-index: 999;
    animation-name: load;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes load {
    0% {transform: rotate(0deg);}
    50% {top: 30%; border-radius: 0%;}
    100% {transform: rotate(360deg);}
}